<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.ssafy.theme.editor.dto.EditorDto" alias="editorDto"/>
		<typeAlias type="com.ssafy.theme.theme.dto.ThemeDto" alias="themeDto"/>
		<typeAlias type="com.ssafy.theme.theme.dto.TagDto" alias="tagDto"/>
		<typeAlias type="com.ssafy.theme.place.dto.PlaceDto" alias="placeDto"/>
		<typeAlias type="com.ssafy.theme.comment.dto.CommentDto" alias="commentDto"/>
		<typeAlias type="com.ssafy.theme.place.dto.LinkDto" alias="linkDto"/>
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper/editor.xml"/>
		<mapper resource="mybatis/mapper/theme.xml"/>
		<mapper resource="mybatis/mapper/place.xml"/>
		<mapper resource="mybatis/mapper/comment.xml"/>
	</mappers>
</configuration>